<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="Logs/internal-log.txt" internalLogLevel="Info">
  <targets>
    <target xsi:type="Console" name="console" layout="[${level:uppercase=true}] ${message} ${exception}" />
    <target xsi:type="File" name="file_NewTemplate" fileName="${basedir}/Logs/NewTemplate_${date:format=yyyy-MM-dd}.log" layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target name="file_NewTemplate_errors" xsi:type="File" fileName="${basedir}/Logs/NewTemplate_Errors_${date:format=yyyy-MM-dd}.log"/>
  </targets>
  <rules>
    <logger name="NewTemplate.*" minlevel="Trace" writeTo="console" />
    <logger name="NewTemplate.*" minlevel="Trace" writeTo="file_NewTemplate" />
    <logger name="NewTemplate.*" minlevel="Error" writeTo="file_NewTemplate_errors" />
  </rules>
</nlog>
